@import "../../assets/css/mixin.scss";
.graph {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    background-color: $blue;
    overflow: hidden;

    .base-markup-btn-increase {
        position: absolute;
        z-index: 1200;
        width: 20px;
        height: 20px;
        left: 50%;
        top: 70%;
        background:#317174;
        border: 1px solid #0a0a0a;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        outline: none;
        visibility: hidden;
        transition: 0.5s linear;
        background-image: url(../../assets/img/full-screen.svg);

        img {
            width: 80%;
        }

        &:hover {
            background: $lightblue;
            background-image: url(../../assets/img/full-screen.svg);
        }
    }

    &:hover .base-markup-btn-increase {
        opacity: 1;
        visibility: visible;
    }

    .draw-graph-switch {
        font-size: 44px;
        background: $blue;
        border: none;
        width: 10%;
        cursor: pointer;
        outline: none;
        transition: 0.3s linear;

        &:hover {
            background: $darkblue;
            color: rgb(207, 219, 214);
        }
    }

    .draw-graph-left {
        order: 0;
    }

    .draw-graph-right {
        order: 4;
    }

    .draw-graph-right,
    .draw-graph-left {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .svg-arrow {
        width: 20px;
    }

    .graph-wrapper-canvas {
        width: 100%;
        display: flex;
        justify-content: center;
        order: 2;

        canvas {
            display: block;
            width: 100%;
        }
    }

    .draw-graph-select-country {
        color: $white;
        margin-right: 10px;
        margin-top: 10px;
        height: 20px;
        width: 20%;
        order: 3;
        outline: none;
        background: $darkblue;
        border: 1px $white solid;
        cursor: pointer;

        &::-webkit-scrollbar {
            width: 0.2rem;
        }

        &::-webkit-scrollbar-track {
            background-color: $white;
        }

        &::-webkit-scrollbar-thumb {
            height: 1.11rem;
            background-color: $white;
        }
    }

    .draw-graph-left-select-btn {
        order: 1;
        width: 20%;

        .draw-graph-select {
            color: $white;
            margin-left: 10px;
            margin-top: 10px;
            width: 100%;
            height: 20px;
            outline: none;
            background: $darkblue;
            border: 1px $white solid;

            cursor: pointer;
        }

        .draw-graph-go-global-cases {
            width: 100%;
            height: 20px;
            background: $white;
            border: 1px solid $blue;
            margin-top: 10px;
            margin-left: 10px;
            outline: none;
            cursor: pointer;

            &:hover {
                background-color: $lightblue;
            }
        }
    }

    option {
        background: $blue;
        border: 1px #0a0a0a solid;
    }
}
