@import "../../assets/css/mixin.scss";
@import "./chart/chart.scss";

.country-list {
    // position: relative;

    .country-list-keyboard {
        width: 36px;
        height: 22px;
        background-size: cover;
    }
}
.country-list-wrapper {
    padding: 0 0 35px 0;
    color: #fff;
    overflow: hidden;
    z-index: 1000;
    position: relative;
    display: flex;
    height: 100%;
    flex-direction: column;
    li {
        padding-left: 5px;
    }
}
.country-list-switch-wrapper {
    position: absolute;
    display: flex;
    color: white;
    left: 0px;
    bottom: 0px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.country-list-swich-title {
    display: inline-block;
}
.country-list-btn-changes {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 20px;
}

.country-list-title {
    background-color: $blue;
    margin-bottom: 5px;
}

.country-list-country-name {
    margin-right: 5px;
    font-size: 16px;
}
