$colour-country-list-hover: #471919;

ul li {
	list-style: none;
}

.country-list-title {
	text-align: center;
	font-size: large;
}

.country-list-flag {
	width: 40px;
	height: auto;
	max-height: 40px;
	margin-right: 10px;
}

.country-list-countries-wrapper {
	height: calc(85vh-100px);
	overflow-y: scroll;
	padding-left: 0px;
	margin: 5px 0;
	&::-webkit-scrollbar {
		width: 5px;
		height: 5px;
	}
	&::-webkit-scrollbar-button {
		width: 10px;
		background-color: #666;
	}
	&::-webkit-scrollbar-track {
		background-color: #999;
	}
	&::-webkit-scrollbar-track-piece {
		background-color: #ffffff;
	}
	&::-webkit-scrollbar-thumb {
		height: 1px;
		background-color: #666;
		border-radius: 5px;
	}
	&::-webkit-scrollbar-corner {
		background-color: #999;
	}
	&::-webkit-resizer {
		background-color: #666;
	}
}
.country-list-country-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-family: sans-serif;
	min-height: 40px;
	margin: 2px 0;
	border-bottom: white 1px solid;
	cursor: pointer;
	&:first-child{
		border-top: white 1px solid;
	}
	&:hover {
		background-color: $colour-country-list-hover;
	}
	}
.country-list-country-name{
	text-align: center;
}
.country-list-value {
	color: yellow;
	margin-right: 5px;
}
.country-list-country-search {
	display: flex;
	justify-content: space-between;
	box-shadow: inset 0 0 0 1px white;
	height: 30px;
	align-items: center;
}
.country-list-country-input {
	width: calc(100% - 40px);
	background-color: transparent;
	border: none;
	color: white;
	outline: none;
}
.country-list-keyboard {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 45px;
	height: 26px;
	background-color: white;
	border-radius: 5px;
	margin: 0 5px;
	background-image: url("../img/keyboard.png");
}
