$global-table-fz12: 0.67rem;
$global-table-fz16: 0.89rem;
$global-table-fz20: 1.11rem;
$global-table-fz24: 1.33rem;
$global-table-fz28: 1.56rem;
$global-table-fz36: 2rem;
$global-table-fz48: 2.7rem;

$global-table-title-color-for-death: #e9ebdc;
$global-table-color-for-death: #9698a8;
$global-table-color-for-recovered: #0bf03d;
$global-table-color-for-case: #f00b0b;
$global-table-color-white: #ffffff;
$global-table-stat-color: #ebcbcb;

.table {
    padding: 0.56rem 0.56rem;
    width: 20%;
    border: 2px solid #f02d0b;
    display: flex;
    color: $global-table-title-color-for-death;
    font-weight: normal;
    display: flex;
    flex-direction: column;

    .global-table-checkbox-wrapper {
        font-size: $global-table-fz12;
        display: flex;
        justify-content: space-between;
        margin: 10px 0;

        .global-table-radio-single {
            display: flex;
            flex-direction: column;
            align-items: center;

            .global-table-radio-btn {
                display: none;
            }

            .global-table-style-radio-btn {
                width: 0.7rem;
                height: 0.7rem;
                border: 2px solid #ffffff;
                background: #999;
                border-radius: 50%;
                cursor: pointer;
            }

            .global-table-radio-btn:checked + .global-table-style-radio-btn {
                background-color: $global-table-color-for-case;
            }
        }
    }

    .global-table {
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        .global-table-title {
            font-size: $global-table-fz12;
            text-align: center;
        }
        .global-table-amount-global-case {
            text-align: center;
        }

        .global-table-item-confirmed-color {
            color: $global-table-color-for-case;
        }

        .global-table-item-death-color {
            color: $global-table-color-for-death;
        }

        .global-table-item-recovered-color {
            color: $global-table-color-for-recovered;
        }

        .global-table-switch-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 0.28rem;

            .global-table-btn-changes {
                width: 1.5rem;
                height: 1.5rem;
                background: none;
                border: 2px solid #9698a8;
                color: $global-table-color-for-death;
                font-size: $global-table-fz20;
                outline: none;
                cursor: pointer;
                transition: 0.3s linear;

                &:hover {
                    background: rgba(129, 123, 123, 0.534);
                    color: #000000;
                    border-color: #000000;
                }
            }

            .global-table-title-current-category {
                font-size: $global-table-fz16;
                color: $global-table-color-for-death;
            }
        }

        .global-table-total-case-wrapper {
            overflow: scroll;
            overflow-x: hidden;
            &::-webkit-scrollbar {
                width: 0.56rem;
            }
            &::-webkit-scrollbar-track {
                background-color: #999;
            }
            &::-webkit-scrollbar-thumb {
                height: 1.11rem;
                background-color: #666;
            }

            .global-table-table-item {
                border-top: 2px solid $global-table-color-for-death;
                padding: 10px 0;
                cursor: pointer;

                &:first-child {
                    border-top: none;
                }
            }

            .global-table-item-confirmed-color {
                color: $global-table-color-for-case;
            }

            .global-table-item-death-color {
                color: $global-table-color-for-death;
            }

            .global-table-item-recovered-color {
                color: $global-table-color-for-recovered;
            }
        }
    }
}
