h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

$fz12: 0.67rem;
$fz16: 0.89rem;
$fz20: 1.11rem;
$fz24: 1.33rem;
$fz28: 1.56rem;
$fz36: 2rem;
$fz48: 2.7rem;

$title-color-for-death: #e9ebdc;
$color-for-death: #9698a8;
$color-for-recovered: #0bf03d;
$color-for-tests: #06a7d8;
$color-white: #ffffff;
$stat-color: #ebcbcb;

.table {
    padding: 0.56rem 0.56rem;
    width: 20%;
    border: 2px solid #f02d0b;
    display: flex;
    color: $title-color-for-death;
    font-weight: normal;

    .global-table {
        width: 100%;
        display: flex;
        flex-direction: column;
        .global-table-title {
            font-size: $fz12;
            text-align: center;
        }
        .amount-global-case {
            text-align: center;
            color: #f00b0b;
        }

        .checkbox-wrapper {
            font-size: $fz12;
            display: flex;
            justify-content: space-between;
            margin: 10px 0;

            .radio-single {
                display: flex;
                flex-direction: column;
                align-items: center;

                .radio-btn {
                    display: none;
                }

                .style-radio-btn {
                    width: 0.7rem;
                    height: 0.7rem;
                    border: 2px solid #ffffff;
                    background: #999;
                    border-radius: 50%;
                    cursor: pointer;
                }

                .radio-btn:checked + .style-radio-btn {
                    background-color: #f00b0b;
                }
            }
        }

        .switch-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 0.28rem;

            .btn-changes {
                width: 1.5rem;
                height: 1.5rem;
                background: none;
                border: 2px solid #9698a8;
                color: #9698a8;
                font-size: $fz20;
                outline: none;
                cursor: pointer;
                transition: 0.3s linear;

                &:hover {
                    background: rgba(129, 123, 123, 0.534);
                    color: #000000;
                    border-color: #000000;
                }
            }

            .title-current-category {
                font-size: $fz16;
                color: $color-for-death;
            }
        }

        .total-case-wrapper {
            overflow: scroll;
            overflow-x: hidden;
            &::-webkit-scrollbar {
                width: 0.56rem;
            }
            &::-webkit-scrollbar-track {
                background-color: #999;
            }
            &::-webkit-scrollbar-thumb {
                height: 1.11rem;
                background-color: #666;
            }

            .table-item {
                border-top: 2px solid #9698a8;
                padding: 10px 0;
                cursor: pointer;

                &:first-child {
                    border-top: none;
                }
            }

            .item-confirmed-color {
                color: #f00b0b;
            }

            .item-death-color {
                color: #9698a8;
            }

            .item-recovered-color {
                color: #0bf03d;
            }

            
        }
    }
}

